body
{
    background-color: #111;
    text-align: left;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#container
{
    width: 85%;
    padding: 2cm;
    text-align: right;
    border: 2px solid gray;
    margin: 0 auto;
    
}

#container h1
{
    font-size: 40px;
}

#header
{
    color: white;
    box-shadow: -114px 55px 86px 55px rgb(207,205,205);
    font-size: 40px;
    margin: 0;
    padding: 1cm;
    font-weight: bold;
}

#header #logo
{
    width: 400px;
    vertical-align: left;
}

#header #tagline
{
    font-weight: bold;
    font-size: 0,5cm;
}

#post 
{
    padding: 1cm;
}

#footer
{
	background: #464646;
	color: white;
        font-weight: bold;
	padding: 0.155cm;
}

